/* GENERAL */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f3eadf;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #fdf6ee;
}

.logo {
    font-size: 22px;
    color: #b38747;
    font-weight: bold;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #444;
    font-size: 16px;
}

.contact-btn {
    padding: 10px 20px;
    background: #b38747;
    color: white;
    border-radius: 20px;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.photo-box {
    width: 45%;
    display: flex;
    justify-content: center;
}

.photo-outline {
    width: 300px;
    height: 300px;
    border: 5px solid #ccb28a;
    border-radius: 50%;
    padding: 10px;
}

.photo-outline img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 5px;
    color: #444;
}

.name {
    color: #b38747;
    font-weight: bold;
}

.hero-text h2 {
    font-size: 28px;
    margin-top: 0;
}

.role {
    color: #b38747;
    font-weight: bold;
}

.hero-text p {
    width: 80%;
    line-height: 1.5;
    color: #444;
}

/* ICONS */
.icons {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.icon {
    width: 35px;
    height: 35px;
    border: 2px solid #b38747;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTON */
.cv-btn {
    padding: 12px 30px;
    background: #b38747;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
